<div class="row" ng-init="initializeController()">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Danh mục khách hàng</span>
                </div>
                <div class="actions">
                    <a class="btn btn-outline green" ng-click="edit()">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480"> New </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body"> 
                <div class="table-scrollable"  >
                    <!-- 
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns></div>
                    -->
                    <table st-table="eInvoiceCustomersDisplay" st-safe-src="eInvoiceCustomers" st-sentinel="tableChange(tableState)" st-default-selection="selectedRow" class="table table-striped table-bordered table-advance table-hover" id="table_items">
                        <thead>
                            <tr role="row" class="heading">
                                <th st-sort="Code" st-ratio="10" st-sort-default="true" st-skip-natural="true">Code</th>
                                <th st-sort="Description" st-skip-natural="true" st-ratio="20">Description</th>
                                <th st-ratio="15">Vat Code</th>
                                <th st-ratio="10">Representative Name</th>
                                <th st-ratio="10">Representative Position</th>
                                <th st-ratio="10">Contact Name</th>
                                <th st-ratio="10">Comment</th>
                                <th st-ratio="5">Status</th>
                                <th st-ratio="10"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="eInvoiceCustomer in eInvoiceCustomersDisplay">
                                <td st-ratio="10"><a ng-click="$event.stopPropagation(); edit($index, eInvoiceCustomer);">{{eInvoiceCustomer.Code}}</a></td>
                                <td>{{eInvoiceCustomer.Description}}</td>
                                <td>{{eInvoiceCustomer.VatNumber}}</td>
                                <td>{{eInvoiceCustomer.RepresentativeName}}</td>
                                <td>{{eInvoiceCustomer.RepresentativePosition}}</td>
                                <td>{{eInvoiceCustomer.ContactName}}</td>
                                <td>{{eInvoiceCustomer.Comment}}</td>
                                <td st-ratio="10">
                                    <div ng-repeat="status in Constants.Status|filter:{Code:eInvoiceCustomer.Status}"><span class="label label-sm" ng-class="{'label-danger': eInvoiceCustomer.Status!=1, 'label-success': eInvoiceCustomer.Status==1}"> {{status.Name}} </span></div>
                                </td>
                                <td st-ratio="20">
                                    <a ng-click="$event.stopPropagation(); edit($index, eInvoiceCustomer);" class="btn btn-outline btn-circle btn-sm purple">
                                        <i class="fa fa-edit"></i></a>
                                    <a ng-click="$event.stopPropagation(); delete($index, eInvoiceCustomer);" class="btn btn-outline btn-circle dark btn-sm black">
                                        <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="4">
                                    <div id="table_uoms_page" st-pagination="" st-items-by-page="PageSize" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
</script>
<!-- BEGIN MAIN JS -->