<div class="modal-header">
    <h3 class="modal-title" id="modal-title" >Form Type Maintenance</h3>
</div>
<div class="modal-body row" id="modal-body" ng-init="initializeController()">
    <div class="col-xs-3">
        <form id="FormTypeMaintenanceForm" name="FormTypeMaintenanceForm" role="form" ng-validate="validationOptions">
            <div class="col">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <span class="help-block text-muted small-font" > Invoice Form</span>
                        <div class="form-group">
                            <select class="form-control" id="InvoiceType" name="InvoiceType" ng-model="EditFormType.InvoiceType" ng-options="s.Code as s.Name for s in Constants.InvoiceTypes" style="margin-bottom:15px;" required>
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <input type="text" class="form-control" name="NumberForm2" id="NumberForm2" ng-model="EditFormType.NumberForm2" required readonly capitalize/>
                            </div>
                            <div class="form-group col-xs-6">
                                <input type="text" class="form-control" name="NumberForm3" id="NumberForm3" ng-model="EditFormType.NumberForm3" maxlength="3" required capitalize/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" > <!-- Symbol = SymbolPart1 + SymbolPart2 + InvoiceForm -->
                    <div class="panel-heading">
                        <span class="help-block text-muted small-font" > Symbol</span>
                        <div class="row" style="margin-bottom:15px;">
                            <div class="form-group col-xs-6">
                                <input type="text" class="form-control" name="SymbolPart1" id="SymbolPart1" ng-model="EditFormType.SymbolPart1" maxlength="2" required capitalize/>
                            </div>
                            <div class="form-group col-xs-6">
                                <input type="text" class="form-control" name="SymbolPart2" id="SymbolPart2" ng-model="EditFormType.SymbolPart2" required readonly capitalize/>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="InvoiceForm" name="InvoiceForm" ng-model="EditFormType.InvoiceForm" ng-options="s.Code as s.Name for s in Constants.InvoiceForms" required>
                                <option value="">--Select --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                            <button type="button" class="btn btn-primary" ng-click="selectReports()" ng-disabled="EditFormType.InvoiceType==undefined || EditFormType.InvoiceType==''" >Select Report</button>
                    </div>
                    <div class="form-group col-xs-6">
                            <button type="button" class="btn pull-right" ng-click="refreshReport()" ng-disabled="EditFormType.InvoiceType==undefined || EditFormType.InvoiceType==''" >Refresh</button>
                    </div>
                </div>
            </div>    
        </form>
    </div>
    <div class="col-xs-9" id="reportviewer">

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(FormTypeMaintenanceForm)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>