<div class="modal-header">
    <h3 class="modal-title" id="modal-title" >Form Type Maintenance</h3>
</div>
<div class="modal-body row" id="modal-body">
    <div class="col-xs-3">
        <form id="FormTypeMaintenanceForm" name="FormTypeMaintenanceForm" role="form" ng-validate="validationOptions">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" for="InvoiceForm">Invoice Form</label>
                    <input type="text" class="form-control" name="InvoiceForm" id="InvoiceForm" ng-model="EditItem.InvoiceForm" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="InvoiceType">Invoice Type</label>
                    <input type="text" class="form-control" name="InvoiceType" id="InvoiceType" ng-model="EditItem.InvoiceType" required/>
                </div>
                <div class="row"> <!-- NumberForm = InvoiceType + "0" + "/" + NumberFormPart3 -->
                     <div class="form-group col-xs-6">
                        <label class="control-label" for="NumberForm2" >NumberForm</label>
                        <input type="text" class="form-control" name="NumberForm2" id="NumberForm2" ng-model="EditItem.NumberForm2" required disabled/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="control-label">&nbsp;</label>
                        <input type="text" class="form-control" name="NumberForm3" id="NumberForm3" ng-model="EditItem.NumberForm3" required/>
                    </div>
                </div>
                <div class="row"> <!-- Symbol = SymbolPart1 + SymbolPart2 + InvoiceForm -->
                    <div class="form-group col-xs-6">
                        <label class="control-label" for="SymbolPart1">Symbol</label>
                        <input type="text" class="form-control" name="SymbolPart1" id="SymbolPart1" ng-model="EditItem.SymbolPart1" required/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="control-label">&nbsp;</label>
                        <input type="text" class="form-control" name="SymbolPart2" id="SymbolPart2" ng-model="EditItem.SymbolPart2" required/>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="viewReport()">View Report</button>
            </div>    
        </form>
    </div>
    <div class="col-xs-9" id="reportviewer">

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(FormTypeMaintenanceForm)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>