<div class="row" ng-init="initializeController()">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-magnifier font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Search</span>
                </div>
                <div class="actions">
                    <a class="btn btn-outline green" ng-click="search(searchForm)">
                        <i class="fa fa-search"></i>
                        <span class="hidden-480"> Search </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="searchForm" name="searchForm" role="form" ng-validate="searchValidationOptions" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="NumberForm" class="col-sm-4 control-label">Number Form</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="NumberForm" name="NumberForm" ng-model="SearchNumberForm" ng-options="s for s in NumberForms track by s">
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="Symbol" class="col-sm-4 control-label">Symbol</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="Symbol" name="Symbol" ng-model="SearchSymbol" ng-options="s for s in Symbols track by s">
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="FromDateRelease" class="col-sm-4 control-label">From Date Release</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="FromDateRelease" name="FromDateRelease" uib-datepicker-popup="d!/M!/yyyy" ng-model="SearchFromDateRelease">
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="ToDateRelease" class="col-sm-4 control-label">To Date Release</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ToDateRelease" name="ToDateRelease" uib-datepicker-popup="d!/M!/yyyy" ng-model="SearchToDateRelease">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="FromDateStart" class="col-sm-4 control-label">From Date Start</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="FromDateStart" name="FromDateStart" uib-datepicker-popup="d!/M!/yyyy" ng-model="SearchFromDateStart">
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="ToDateStart" class="col-sm-4 control-label">To Date Start</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="ToDateStart" name="ToDateStart" uib-datepicker-popup="d!/M!/yyyy" ng-model="SearchToDateStart">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="Status" class="col-sm-4 control-label">Status</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="Status" name="Status" ng-model="SearchStatus" ng-options="s.Code as s.Name for s in Constants.TaxAuthoritiesStatus">
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Danh sách phát hành hóa đơn</span>
                </div>
                <div class="actions">
                    <a class="btn btn-outline green" ng-click="edit()">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480"> New </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body"> 
                <div class="table-scrollable"  >
                    <!-- 
                    <div class="gridStyle" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns></div>
                    -->
                    <table st-table="eInvoiceFormReleasesDisplay" st-safe-src="eInvoiceFormReleases" st-sentinel="tableChange(tableState)" st-default-selection="selectedRow" class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr role="row" class="heading">
                                <th st-sort="release_date" st-ratio="10" st-sort-default="true" st-skip-natural="true">Date Release</th>
                                <th st-sort="start_date" st-skip-natural="true" st-ratio="10">Date Start</th>
                                <th st-ratio="30">Number Form</th>
                                <th st-ratio="30">Number Release</th>
                                <th st-ratio="10">Status</th>
                                <th st-ratio="20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="eInvoiceFormRelease in eInvoiceFormReleasesDisplay">
                                <td>{{eInvoiceFormRelease.ReleaseDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{eInvoiceFormRelease.StartDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{eInvoiceFormRelease.NumberFormDescription}}</td>
                                <td>{{eInvoiceFormRelease.NumberReleaseDescription}}</td>
                                <td>
                                    <div ng-repeat="status in Constants.TaxAuthoritiesStatus|filter:{Code:eInvoiceFormRelease.TaxAuthoritiesStatus}"><span class="label label-sm" ng-class="{'label-danger': eInvoiceFormRelease.TaxAuthoritiesStatus!=1, 'label-success': eInvoiceFormRelease.TaxAuthoritiesStatus==1}"> {{status.Name}} </span></div>
                                </td>
                                <td st-ratio="20">
                                    <a ng-click="$event.stopPropagation(); edit($index, eInvoiceFormRelease);" class="btn btn-outline btn-circle btn-sm purple">
                                        <i class="fa fa-edit"></i></a>
                                    <a ng-click="$event.stopPropagation(); delete($index, eInvoiceFormRelease);" class="btn btn-outline btn-circle dark btn-sm black">
                                        <i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-center" colspan="4">
                                    <div st-pagination="" st-items-by-page="PageSize" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
</script>
<!-- BEGIN MAIN JS -->