<div class="container" ng-init="initializeController()">
    <div class="row">
        <div class="center-form panel panel-shadow">
            <div class="panel-body">
                <h2 class="text-center">Log in</h2>
                <form ng-submit="login()" name="loginForm">
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" name="email" ng-model="UserName"
                               placeholder="Email" required autofocus ng-class="{'validation-error': UserNameInputError}">
                        <span class="ion-at form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="password" name="password" ng-model="Password"
                               placeholder="Password" required ng-class="{'validation-error': PasswordInputError}">
                        <span class="ion-key form-control-feedback"></span>
                    </div>
                    <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Login
                    </button>
                    <br/>
                    <p class="text-center text-muted">
                        <small>Don't have an account yet? <a>Register</a></small>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>