
        <table border="0" cellpadding="0" cellspacing="0" width="920">
            <tr>
                <td width="25%">
                    <div>
                        <a href="https://ehoadon.com.vn">
                            <img alt="eInvoiceLogo" style="margin-top: -45px;height: 35px;width: 140px;" src="cid:logo.png" />
                        </a> 
                    </div>  
                    <div style="font-size: x-small;font-style: italic;">
                        Website: ehoadon.com.vn
                    </div>
                </td>
                <td width="50%">
                    <span><h1>THÔNG BÁO</h1></span>
                    <span><h4>V/v cung cấp hóa đơn điện tử</h4></span>
                </td>
                <td width="25%">
                    &nbsp;
                </td>
            </tr>
            <tr style="height: 10px !important;">
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    Kính gửi : {{.CustomerContactName}}
                </td>
            </tr>
            <tr style="height: 10px !important;">
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">
                    {{.ClientDescription}} (Mã số thuế : {{.ClientVatNumber}}) xin gửi hóa đơn điện tử, thông tin hóa đơn
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 0 0;">
                    <span style="font-size: small;">&#9679;</span> Ngày hóa đơn
                </td>
                <td style="padding: 10px 0 0 0;">
                    {{.InvoiceDate}}
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 0 0;">
                    <span style="font-size: small;">&#9679;</span> Số hóa đơn
                </td>
                <td style="padding: 10px 0 0 0;">
                    {{.InvoiceNo}}
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 0 0;">
                    <span style="font-size: small;">&#9679;</span> Tổng cộng tiền thanh toán
                </td>
                <td style="padding: 10px 0 0 0;">
                    {{.TotalPayment}}
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 0 0;">
                    <span style="font-size: small;">&#9679;</span> Chuỗi xác thực
                </td>
                <td style="padding: 10px 0 0 0;">
                    {{.InvoiceFileID.UUID}}
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 0 0;">
                    <span style="font-size: small;">&#9679;</span> Để nhận hóa đơn điện tử
                </td>
                <td style="padding: 10px 0 0 0;">
                    xin hãy kiểm tra file dính kèm
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 0 0;">
                    <span style="font-size: small;">&#9679;</span> Để kiểm tra thông tin hóa đơn
                </td>
                <td style="padding: 10px 0 0 0;">
                    nhấn <a href="https://ehoadon.com.vn/">vào đây</a>
                </td>
            </tr>
            <tr style="height: 10px !important;">
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px 0 0 0;">
                    Thông tin hỗ trợ hóa đơn
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px 0 0 0;">
                    Đơn vị có thắc mắc xin hãy liên hệ {{.ClientContactName}} - {{.ClientMobile}}
                </td>
            </tr>
            <tr style="height: 10px !important;">
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px 0 0 0;">
                    Thông tin về hóa đơn điện tử
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 10px 0 0 0;">
                    Hóa đơn điện tử được quy định theo thông tư số 32/2011/TT-BTC ngày 14/03/2011 của Bộ Tài chính.
                </td>
            </tr>
            <tr style="height: 10px !important;">
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: x-small;font-style: italic;">
                    Ghi chú
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: x-small;font-style: italic;">
                    Thông báo này được gửi tự động từ hệ thống quản lý hóa đơn điện tử <a href="https://ehoadon.com.vn/">ehoadon.com.vn</a> đơn vị không trả lời email này.
                </td>
            </tr>
        </table>
