<!--BEGIN NAVBAR-->
<div id="wrap" ng-controller="NavBarController">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid body-content">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Hóa Đơn Điện Tử</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-if="isAuthenticated()">
                        <a data-toggle="dropdown" href="" id="dropdownMenu1">Phát Hành Hóa Đơn <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabIndex="-1" ui-sref="#">Đăng ký với GDT</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Tạo mẫu hóa đơn</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Thông báo phát hành hóa đơn</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="isAuthenticated()">
                        <a data-toggle="dropdown" href="" id="dropdownInvoiceManager">Quản Lý Hóa Đơn <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownInvoiceManager">
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Hóa Đơn GTGT</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Phê duyệt hóa đơn</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Xử lý hóa đơn</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="isAuthenticated()">
                        <a data-toggle="dropdown" href="" id="dropdownMasterManager">Danh mục <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMasterManager">
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="eInvoiceCustomers">Khách hàng</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="eInvoiceItems">Hàng hóa dịch vụ</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="eInvoiceItemUoms">Đơn vị tính</a>
                            </li>
                            <!--
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="eInvoiceItemGroups">Nhóm hàng hóa dịch vụ</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="eInvoiceWarehouses">Kho hàng hóa dịch vụ</a>
                            </li>
                            -->
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Loại tiền</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="eInvoiceTaxAuthorities">Cơ quan thuế</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="isAuthenticated()">
                        <a data-toggle="dropdown" href="" id="dropdownSystemManager">Quản trị hệ thống <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownSystemManager">
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Người sử dụng</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Thông tin đơn vị</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Tham số hệ thống</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabIndex="-1" ui-sref="#">Cấu hình kết nối với GDT</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated()">
                    <li><a ui-sref="home.about">About</a></li>
                    <li>
                        <a id="preferenceLink" title="Preference" ui-sref="preference">Preference</a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="" id="dropdownUser">{{currentUser.Name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownUser">
                            <li role="presentation"><a role="menuitem" , tabIndex="-1" ui-sref="managerUser">Manage User</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex=-1 ui-sref="logoff">Log off</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!isAuthenticated()">
                    <li><a id = "registerLink">Register</a></li>
                    <li><a id = "loginLink" ui-sref="login">Log in</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!--END NAVBAR-->